<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
<app-navbar></app-navbar>
<app-crousel></app-crousel>
<div class="Browse-event">
   <h2>Browse events by genre</h2>
</div>
<app-browse-event></app-browse-event>
<div class="cont">
   <div class="row">
      <div class="col-sm-6">
         <div class="Trending"></div>
         <h2>Trending</h2>
      </div>

      <div class="col-sm-6">
         <div class="btn"></div>
         <button type="button" routerLink="see all">SEE ALL</button>
         <a href="/Blinkticket/src/app/app.routes.ts"></a>
      </div>
   </div>
</div>


<app-trending></app-trending>
<app-spotlight></app-spotlight>
<app-explore-event></app-explore-event>
<!-- //horizontal Image -->
<app-most-popular></app-most-popular>
<app-explore-events-by-city></app-explore-events-by-city>
<app-footer></app-footer>
<router-outlet />