<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/Blinkticket/public/images/Crousel Component/image1.jpg" class="d-block" alt="image1" width="873px"  height=" 396px">
      </div>
      <div class="carousel-item">
        <img src="/Blinkticket/public/images/Crousel Component/image2.jpg" class="d-block" alt="image2">
      </div>
      <div class="carousel-item">
        <img src="/Blinkticket/public/images/Crousel Component/image 3.avif" class="d-block" alt="image3">
      </div>
      <div class="carousel-item">
        <img src="/Blinkticket/public/images/Crousel Component/image4.jpg" class="d-block" alt="image4">
      </div>
    </div>
  </div>
</div>