<div class="row">

    <div class="col-lg-6 col-12">
        <!-- Card 1 -->
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Find your Pride in San Francisco year-round fest</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link-1">From $57.79</a>
                <a href="#" class="card-link">BUY NOW</a>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Find your Pride in San Francisco year-round fest</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link-1">From $57.79</a>
                <a href="#" class="card-link">BUY NOW</a>
            </div>
        </div>
    </div>

    <!-- Card 3-->
    <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Find your Pride in San Francisco year-round fest</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link-1">From $57.79</a>
                <a href="#" class="card-link">BUY NOW</a>
            </div>
        </div>
    </div>
    <!-- Card 4 -->
    <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Find your Pride in San Francisco year-round fest</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link-1">From $57.79</a>
                <a href="#" class="card-link">BUY NOW</a>
            </div>
        </div>
    </div>

</div>